[Unit]
Description=Pianocktail service

[Service]
ExecStart=/usr/bin/twistd3 --nodaemon\
			 			  --pidfile= \
			 			  pianocktail --port tcp:80
			 			  
NonBlocking=true

[Install]
WantedBy=MultiUser.target

 

