[Unit]
Description=Pianocktail service

[Service]
ExecStart=/usr/bin/twistd --nodaemon\
			 			  --pidfile= \
			 			  pianocktail --port tcp:8888
User=piano
Group=piano
NonBlocking=true

[Install]
WantedBy=MultiUser.target

 

