#!/usr/bin/make -f

export DH_COMPAT=1

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp
	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	cp pyanocktaild.py debian/tmp/etc/
	cp debian/init.d debian/tmp/etc/init.d/pianocktail.deb
	cp debian/default debian/tmp/etc/default/pianocktail.deb
	cp debian/copyright debian/tmp/usr/share/doc/pianocktail.deb/
	cp debian/README.Debian debian/tmp/usr/share/doc/pianocktail.deb/
	touch debian/tmp/usr/share/pianocktail.deb/package-installed
	touch install-stamp

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_strip
	dh_compress
	dh_installchangelogs
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
